@{
    ViewData["Title"] = "Privacy Policy";
}
<p>&nbsp;</p>

<h1>@ViewData["Title"]</h1>
<p>&nbsp;</p>
<p></p>

<p>This is personal project.</p>

<p>It is not intended for commercial use.</p>
<p>It is not intended for public use.</p>
<p>It is not intended for public distribution.</p>
<p>All images are owned by SA Eesti Kunstimuuseum.</p>
